.Novedades{
    padding: 30px;
    background-color: #375694;
    margin: 40px;
}


.novedad1{
    padding: 40px;
    width: 500px;
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: right;
    text-align: left;
   
}

.federico{
    height: 300px;
    width: 500px;
    margin: auto;
}

.novedad2 {
    padding: 40px;
    width: 500px;
    text-align: left;

}

.banderin {
    height: 300px;
    width: 500px;
    margin: auto;
}

.novedad3 {
    padding: 40px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: left;
    
}

.arbitro{
    height: 300px;
    width: 500px;
    margin: auto;
}


/*  Bloque el bicho*/

#news-feed.news-block {
    display: flex;
    width: 100%;
}

#news-feed .news-block .left-block {
    width: 65%;
    
}

#news-feed .news-block .right-block {
    width: 35%;
    background: lightgreen;
    position: relative;
    left: 80px;
}

#news-feed h1 {
    font-family: sans-serif;
    font-size: 40px;

}

#news-feed p {
    font-family: sans-serif;
    font-size: 20px;
    color: grey;
}

#news-feed figure {
    position: relative;

}

#news-feed img {
    width: 100%;

}

#news-feed figure figcaption {
    width: auto;
    /*para que el texto no toque los bordes*/ 
    padding: 15px;
    border-radius: 5px;
    font-family: sans-serif;
    background: rgba(0, 0, 0,0.3); 
    position: absolute;
    bottom: 20px;
    left: 15px;
}