.Novedades{
    padding: 30px;
    background-image: url(../Img/fondo.jpg);
    background-color: #375694;
}

.contenedornovedades{
    margin: 40px;
    padding: 20px;
    background-color: rgba(0,0,0,0.8);
}

h2{
    text-align: center;
}

.novedad1{
    padding: 40px;
    width: 500px;
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: right;
    text-align: left;
}

.federico{
    height: 300px;
    width: 400px;
    margin: auto;
}

.novedad2 {
    padding: 40px;
    width: 500px;
    text-align: left;

}

.banderin {
    height: 300px;
    width: 400px;
    margin: auto;
}

.novedad3 {
    padding: 40px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: left;
    
}

.arbitro{
    height: 300px;
    width: 400px;
    margin: auto;
}
