.pie-de-pagina{
    width: 100%;
    background-color: #1B4F72;
    padding: 30px 10px 10px 10px;
  
  }
  .pie-de-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px, 0px;
  }
  
  .pie-de-pagina .grupo-1 .box figure{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .pie-de-pagina .grupo-1 .box figure img{
   width: 200px;
   border-radius: 100px;
  }
  
  .pie-de-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
  }
  
  .pie-de-pagina .grupo-1 .box p{
    color: white;
    margin-bottom: 10px;
  }
  
  .pie-de-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    color: wheat;
    background-color: #633974;
    text-align: center;
    transition: all 300ms ease;
  }
  
  .pie-de-pagina .grupo-1 .red-social a:hover{
    color: aqua;
  }
  
  .pie-de-pagina .grupo-2{
    background-color: #1B4F72;
    padding: 15px 10px;
    text-align: center;
    color: white;
  }
  
  .pie-de-pagina .grupo-2 small{
    font-size: 15px;
  }
  
   body {
     margin: 0;
     padding: 0;
     object-fit: cover;
     background-size: cover;
     background-position: center;
     font-family: sans-serif;  
  
   }